table {
  width: 100%;
}

.loading-spinner{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButton {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.divToolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
